@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.btn-level {
  @apply bg-purple-500 px-4 py-2 rounded-lg text-white hover:bg-purple-600 transition;
}
