body {
  margin: 0;
  font-family: "Comic Sans MS", cursive;
  background: linear-gradient(to bottom, #6ec6ff, #b2f7ef);
}

button {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}
